@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <h1>RandoMagic</h1>
        <NavMenu />
    </div>

    <main>
        @* page contents *@
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
