@rendermode InteractiveServer

<form class="counter-container" @onsubmit="Home.ResetAllCards" focused>
    <p class="counter">Number of wanted cards:</p>
    <div class="counter-line">
        <button class="btn btn-secondary" @onclick="RemoveCard" @onkeydown="@KeyboardEvent">-1 card</button>
        <input type="number" @bind=counter @onkeydown="@KeyboardEvent" />
        <button class="btn btn-secondary" @onclick="AddCard" @onkeydown="@KeyboardEvent">+1 card</button>
    </div>
    <div class="reset-container">
        <button type="submit" class="btn btn-primary">Reset All Cards</button>
    </div>
</form>

@code {
    public static int counter = 3;
    private void AddCard()
    {
        if (counter < 10) counter++;
    }
    private void RemoveCard()
    {
        if (counter > 1) counter--;
    }
    public void KeyboardEvent(KeyboardEventArgs e)
    {
        if (e.Code == "ArrowLeft" || e.Code == "Numpad4") RemoveCard();
        if (e.Code == "ArrowRight" || e.Code == "Numpad6") AddCard();
        if (e.Code == "Enter" || e.Code == "NumpadEnter") Home.ResetAllCards();
    }
}