@rendermode InteractiveServer
@inject Services.DataService.RandomCardsService RandomCardsService

<p role="status">@card?.Name</p>

<button class="btn btn-primary" @onclick="GetNewCard">Get a new card</button>

@code {
    [Parameter]
    public DataModels.CardModel? card { get; set; }

    public static void GetNewCard()
    {
        try
        {
            Console.WriteLine("Load new card");
        }
        catch (Exception e)
        {
            Console.WriteLine($"\nError while requesting data from API:");
            Console.WriteLine($"Error message: {e.Message}");
        }
    }
}
