@rendermode InteractiveServer

<div class="counter-container">
    <button class="btn btn-secondary" @onclick="AddCard">+1 card</button>
    <p class="counter">Number of wanted cards: @counter</p>
    <button class="btn btn-secondary" @onclick="RemoveCard">-1 card</button>
</div>

@code {
    public static int counter = 1;

    private void AddCard()

    {

        if (counter < 10) counter++;

    }







    private void RemoveCard()

    {

        if (counter > 1) counter--;

    }
}