@page "/about"

<PageTitle>About</PageTitle>

<h2>About</h2>

<h3>About this application</h3>
<p>This is an open-source project I am developing for training purposes and for fun. It uses the public api <a
        href="https://scryfall.com/" title="Visit the official Scryfall website" class="classic-link"
        target="_blank">Scryfall</a>, C# and Blazor.
</p>
<p>The application is meant to load one or more random Magic the Gathering cards to help you discover new cards in an
    entertaining way.</p>

<h3>About me</h3>
<p>My name is Kim Robert. I am a junior developer in Nantes, in France.</p>
<p>I mainly specialize with JavaScript, TypeScript, Vue 3 and Sass but I am aiming at broadening and strenghtening my
    skills at the moment.</p>
<p>More personal stuff: I am neuro-divergent and non-binary. My pronouns are he / they. I enjoy martial arts, literature
    and games (like a lot of people).</p>
