@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Oops !</h1>
<h2 class="text-danger">An error occurred...</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Failed Request ID:</strong> <code>@RequestId</code>
    </p>
}

<p>
    If the error occurs frequently please contact our developer. Otherwise you may try to come back later.
</p>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
    RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
